# ignore Holly's code
/Holly_SOLSTISE_Code

ParticlesClass.py
Kinematics_Calc.py
ConeParams.txt
ConeMaker_forSpreadsheet.py
README
__init__.py
/__pycache__
jupyter-notebook-browser
*evts*.pkl
*tgt*.pkl
cust*.pkl
PipeOut*
Untitled*
*evts*
desorb*
eloss*
untitled*
*.json
Desorb*
.ipynb_checkpoints/
Sim_File.py
out_eject_unsmeared_all.dat
cust*
Geometry_Files
Event_Files
Output_Files

